* html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* canvas {
  width: 100%;
}

@font-face {
  font-display: swap;
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/Raleway-Medium.ttf") format("ttf");
}

.font-preloader {
  display: none;
  z-index: -1;
  position: relative;
  user-select: none;
  font-family: "Raleway-Medium", Arial, sans-serif;
}